.container {
    margin: 10px auto;
    width : 90%;
}

.table__items {
    font-family    : arial, sans-serif;
    color          : aliceblue;
    border-collapse: collapse;
    width          : 100%;
    border         : 1px solid black;
}

.list-head th {
    background-color: #17a2b8;
    padding         : 3px;
    border          : 2px solid black;
}

:is(.list-foot, .list-body) :is(td, th) {
    border : 2px solid black;
    padding: 3px;
}

.list-foot tr td {
    /* text-align : center; */
    font-weight: bold;
}

.list-foot tr td:first-child {
    text-align   : right;
    padding-right: 10px;
}

.submit-order {
    padding     : 0;
    margin      : 0;
    font-size   : 20px;
    width       : 100%;
    /* height   : 80px; */
}

.submit-order:hover {
    color           : red;
    background-color: yellowgreen;
}

.list-body tr td a {
    color          : red;
    text-decoration: none;
}

.list-body tr td a:hover {
    color: orange;
}

.list-body tr td:last-child {
    text-align: center;
}

.list-body tr td:first-child {
    text-align: center;
}

.list-foot tr td a {
    color          : red;
    text-decoration: none;
}

.list-foot tr td:last-child {
    text-align: center;
}


/*responsive */
/* tablet: width >= 740px and width < 1024px*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {}

/* mobile < 740px */
@media only screen and (max-width: 46.1875em) {}