/* Nguyen Quoc Trang B2012274 */

.cart-heading {
    color : #fff;
    margin: 5px;
}

.cart-heading p {
    display: inline;
}

.cart-body {}

.cart__item {
    border-top: 1px solid slategrey;
    margin    : 10px 0;
    display   : flex;
    width     : 100%;
    color     : #fff;
    padding   : 5px;
}

.cart_item-img {
    width: 100px;
}

.cart__item-info {
    display    : flex;
    width      : 70%;
    line-height: 1.5;
}

.cart_item-title {
    width : 80%;
    margin: auto 20px;

}

.cart_item-body {
    width: 100%;
}

.table--item-body tr td:first-child {
    width: 150px;
}

.cart-price {}

.cart-quantity {
    display: flex;
}

.cart-quantity span {
    margin: 0 25px;
}

.cart-quantity a {
    border         : 1px solid #989898;
    width          : 30px;
    height         : 30px;
    text-align     : center;
    text-decoration: none;
    color          : red;
    cursor         : pointer;
}

.cart-quantity a:hover {
    background-color: beige;
}

.cart-sum {}

.cart_remove {
    width       : 20%;
    text-align  : end;
    margin      : 5px;
    margin-right: 20px;
}

.cart_remove a {
    text-decoration: none;
    color          : red;
    cursor         : pointer;
}

.cart_remove a:hover {
    color: #EB6440;
}

.cart-footer {
    border-top: 2px solid slategrey;
    margin-top: 20px;
    padding   : 10px;
    text-align: end;
    color     : #fff;
}

.cart-total {}

.link_more {
    text-decoration: none;
}

.btn_pay {}

.btn {
    color           : #fff;
    width           : auto;
    height          : 30px;
    font-size       : 15px;
    background-color: #EB6440;
    padding         : 5px;
    margin-top      : 10px;
    border          : 1px solid black;
    cursor          : pointer;
}

.btn:hover {
    background-color: red;
}

/*responsive */
/* tablet: width >= 740px and width < 1024px*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .cart_item-img {
        display: none;
    }
}

/* mobile < 740px */
@media only screen and (max-width: 46.1875em) {
    .cart_item-img {
        display: none;
    }

    .cart__item-info {
        width: 100%;
    }

    .table--item-body {
        vertical-align: middle;
    }

    .cart_remove {
        display: none;
    }
}