/* Nguyen Quoc Trang B2012274 */

/* .container {
    margin: 10px auto;
    width : 90%;
} 

 .table__items {
    font-family    : arial, sans-serif;
    color          : aliceblue;
    border-collapse: collapse;
    width          : 100%;
    border         : 1px solid black;
}

.list-head th {
    background-color: #17a2b8;
    padding         : 3px;
    border          : 2px solid black;
}

:is(.list-foot, .list-body) :is(td, th) {
    border : 2px solid black;
    padding: 3px;
}

.list-foot tr td {
    font-weight: bold;
}

.list-foot tr td:first-child {
    text-align   : right;
    padding-right: 10px;
}

.submit-order {
    padding     : 0;
    margin      : 0;
    font-size   : 20px;
    width       : 100%;
}

.submit-order:hover {
    color           : red;
    background-color: yellowgreen;
}

.list-body tr td a {
    color          : red;
    text-decoration: none;
    font-size      : 30px;
}

.list-body tr td a:hover {
    color: orange;
}

.list-body tr td:last-child {
    text-align     : center;
    justify-content: space-between;
}

.list-body tr td:first-child {
    text-align: center;
}

.text-center {
    text-align: center;
    width     : 50px;
}

.list-foot tr td a {
    color          : red;
    text-decoration: none;
    text-align     : center;

}

.list-foot tr td a:hover {
    color: orange;
}

.deleteAll {
    text-align: center;
}

.no-item {
    font-size: 25px;
    color    : red;
}

.img_order {
    width: 60px;
}

.list-body tr td:nth-child(2) {
    text-align: center;
} */

.cart-heading {
    color: #fff;
    margin: 5px;
}

.cart-heading p {
    display: inline;
}

.cart__item {
    border-top: 1px solid slategrey;
    margin: 10px;
    display: flex;
    width: 1200px;
    /* justify-content: space-between; */
    color: #fff;
}

.cart_item-img {
    width: 100px;
}

.cart__item-info {
    display: flex;
    width: 70%;
    line-height: 1.5;
}

.cart_item-title {
    width: 80%;
    margin: 10px;
}

.cart_item-body {
    width: 50%;
}

.cart-price {}

.cart-quantity {
    display: flex;
    justify-content: space-between;
}

.cart-quantity a {
    border: 1px solid #989898;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    color: red;
}

.cart-sum {}

.cart_remove {
    width: 20%;
    text-align: end;
    margin: 5px;

}

.cart_remove a {
    text-decoration: none;
    color: red;
    /* vertical-align: middle; */
    /* margin: 5px; */
    /* padding: 5px; */
}

/*responsive */
/* tablet: width >= 740px and width < 1024px*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {}

/* mobile < 740px */
@media only screen and (max-width: 46.1875em) {}