.banner_product {
    width : 100%;
    margin: 0;
}

.suggest {
    position: relative;
}

.slider {
    display: flex;
}

.slider .card {
    flex  : 0 0 24%;
    margin: 5px;
}

.product {
    display  : flex;
    flex-wrap: wrap;
}

.card {
    max-width       : 100%;
    border          : 1px solid black;
    border-radius   : 20px;
    display         : block;
    width           : 32%;
    margin          : 5px;
    background-color: #323232;
    box-shadow      : 0 2px 21px rgba(0, 0, 0, 0.25);
    transition      : all .5s ease-in-out;
}

.card-img-top {
    width  : 100%;
    padding: 10px;
}

.card-body {
    height     : 200px;
    line-height: 1.5;
}

.card-footer {
    margin-top: 10px;
    text-align: center;
    height    : 80px;
}

.card-title {
    color     : white;
    text-align: center;
    font-size : 20px;
    height    : 50px;
}

.card-text {
    font-size  : 16px;
    margin     : 5px;
    text-align : justify;
    color      : #D8D9CF;
    font-weight: 500;
}

.card:hover {
    box-shadow: 0 0 10px 1px #5ad8e8;
}

.control-prev,
.control-next {
    width           : 70px;
    height          : 70px;
    border          : 1px solid black;
    border-radius   : 50%;
    position        : absolute;
    background-color: #D8D9CF;
    opacity         : 0.8;
    top             : 220px;
}

.control-prev {
    left: 0;
}

.control-next {
    right: 0;
}

.control-prev i,
.control-next i {
    color: black;
}

.control-prev:hover,
.control-next:hover {
    border: 1px solid green;
}

@keyframes btn-control-animation-show-next {
    from {
        opacity  : 0;
        transform: translateX(10%);
    }

    to {
        opacity  : 1;
        transform: translateX(0);
    }
}

@keyframes btn-control-animation-show-prev {
    from {
        opacity  : 1;
        transform: translateX(-10%);
    }

    to {
        opacity  : 1;
        transform: translateX(0);
    }
}

.text-muted {
    padding-bottom: 10px;
    margin-right  : 15px;
    display       : block;
    font-weight   : 1000;
    color         : beige;
}


.sale {
    color               : red;
    text-decoration-line: line-through;
    font-weight         : 500;
}

.btn__submit {
    margin          : 0;
    margin-right    : 5px;
    margin-left     : -6px;
    border-radius   : 5px;
    padding         : 0;
    height          : 100%;
    border          : none;
    background-color: #EB6440;
    line-height     : 100%;
    width           : auto;
    font-weight     : 700;
    font-size       : 15px;
    padding         : 0 5px;
}

.btn__submit:hover {
    background-color: red;
    color           : #D8D9CF;
}

.form__order {
    height: 30px;
}

/*responsive */
/* tablet: width >= 740px and width < 1024px*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {}

/* mobile < 740px */
@media only screen and (max-width: 46.1875em) {}