/* Nguyen Truong Nhut Truong B2012050 */

#support {
    display               : grid;
    /* display            : flex; */
    grid-template-areas   : 'h2 h2'
        'form img';
    background-color: #f2f2f2;
    margin-top      : 2px;
}

.bannersuppor {
    width : 100%;
    height: 400px;
}

h2 {
    grid-area : h2;
    text-align: center;
}

.formsupport {
    grid-area: form;
    color    : #333333;
    padding  : 0 20px;
}

.formsupport input {
    margin          : 5px 0;
    width           : 100%;
    height          : 40px;
    border-radius   : 10px;
    background-color: #e6e6e6;
}

.formsupport input:hover {
    border: 3px solid rgb(28, 16, 192);
}

textarea {
    width           : 100%;
    height          : 100px;
    border-radius   : 10px;
    border          : 2px solid black;
    background-color: #e6e6e6;
    font-size       : 20px;
}

textarea:hover {
    border: 3px solid rgb(28, 16, 192);
}

#message {
    height: 100px;
}

.btn-support {
    padding         : 8px 40px;
    background-color: #5a6df2;
    cursor          : pointer;
    margin-bottom   : 20px;
}

.btn-support:hover {
    background-color: #5af25a;
}

.img {
    grid-area: img;
}

.img img {
    width : 100%;
    height: 435px;
}

/*responsive */
/* tablet: width >= 740px and width < 1024px*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {}

/* mobile < 740px */
@media only screen and (max-width: 46.1875em) {
    .img {
        display: none;
    }

    .formsupport {
        margin: 0;
    }
}